<p>guide works!</p>
<p>reroll</p>
<table class="table table-hover mb-5 reroll-latest">
    <thead class="thead-dark">
    <tr>
        <th>
            Level
        </th>
        <th class="tier1">
            <br> Tier1
            <br> (29 Total)
        </th>
        <th class="tier2">
            <img src="//cdn.lolchess.gg/images/tft/tier/tier2.png" alt="Tier2 icon">
            <br> Tier2
            <br> (22 Total)
        </th>
        <th class="tier3">
            <img src="//cdn.lolchess.gg/images/tft/tier/tier3.png" alt="Tier3 icon">
            <br>Tier3
            <br> (18 Total)
        </th>
        <th class="tier4">
            <img src="//cdn.lolchess.gg/images/tft/tier/tier4.png" alt="Tier4 icon">
            <br> Tier4
            <br> (12 Total)
        </th>
        <th class="tier5">
            <img src="//cdn.lolchess.gg/images/tft/tier/tier5.png" alt="Tier5 icon">
            <br> Tier5
            <br> (10 Total)
        </th>
    </tr>
    </thead>
    <tbody>
                    <tr>
            <td class="level">1</td>
                        <td class="tier1 ">
                100%
            </td>
                        <td class="tier2 zero">
                0%
            </td>
                        <td class="tier3 zero">
                0%
            </td>
                        <td class="tier4 zero">
                0%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">2</td>
                        <td class="tier1 ">
                100%
            </td>
                        <td class="tier2 zero">
                0%
            </td>
                        <td class="tier3 zero">
                0%
            </td>
                        <td class="tier4 zero">
                0%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">3</td>
                        <td class="tier1 ">
                75%
            </td>
                        <td class="tier2 ">
                25%
            </td>
                        <td class="tier3 zero">
                0%
            </td>
                        <td class="tier4 zero">
                0%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">4</td>
                        <td class="tier1 ">
                55%
            </td>
                        <td class="tier2 ">
                30%
            </td>
                        <td class="tier3 ">
                15%
            </td>
                        <td class="tier4 zero">
                0%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">5</td>
                        <td class="tier1 ">
                45%
            </td>
                        <td class="tier2 ">
                33%
            </td>
                        <td class="tier3 ">
                20%
            </td>
                        <td class="tier4 ">
                2%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">6</td>
                        <td class="tier1 ">
                25%
            </td>
                        <td class="tier2 ">
                40%
            </td>
                        <td class="tier3 ">
                30%
            </td>
                        <td class="tier4 ">
                5%
            </td>
                        <td class="tier5 zero">
                0%
            </td>
                    </tr>
                <tr>
            <td class="level">7</td>
                        <td class="tier1 ">
                19%
            </td>
                        <td class="tier2 ">
                30%
            </td>
                        <td class="tier3 ">
                35%
            </td>
                        <td class="tier4 ">
                15%
            </td>
                        <td class="tier5 ">
                1%
            </td>
                    </tr>
                <tr>
            <td class="level">8</td>
                        <td class="tier1 ">
                16%
            </td>
                        <td class="tier2 ">
                20%
            </td>
                        <td class="tier3 ">
                35%
            </td>
                        <td class="tier4 ">
                25%
            </td>
                        <td class="tier5 ">
                4%
            </td>
                    </tr>
                <tr>
            <td class="level">9</td>
                        <td class="tier1 ">
                9%
            </td>
                        <td class="tier2 ">
                15%
            </td>
                        <td class="tier3 ">
                30%
            </td>
                        <td class="tier4 ">
                30%
            </td>
                        <td class="tier5 ">
                16%
            </td>
                    </tr>
                </tbody>
</table>