.sc-deck-manager__deck_line{
background-color: #ffffff3d;
margin-top: 5px;
margin-bottom: 5px;
}

.sc-deck-manager__board{
    background-color: #ffffff3d;
margin-top: 5px;
margin-bottom: 5px;
}

.sc-deck-manager__myItems{
margin-top: 5px;
margin-bottom: 5px;
}

.sc-deck-manager__deck_name{

}

.sc-deck-manager__btn{
    
}

/*
dégradé de l'image
-webkit-mask-image: linear-gradient(270deg, rgba(0,0,0,1) 45%, rgba(0,212,255,0) 100%);
*/