<div class="row sc-deck-line">
    <app-active-traits class="sc-deck-line__traits"  [displayPalliers]="false"
        [blockMaxWidth]="30" [showUnactive]="false" [activesTraits]="activeTraits"></app-active-traits>
    <div class="sc-deck-line__champion">
        <div *ngFor="let champion of deck.champions">
            <app-champion-pic [champion]="champion" (clickChampionPic)="clickChampion($event)"
                [ngClass]="{'sc-deck-line-champion-pic-core':isCore(champion)}"></app-champion-pic>
            <div>
                <!-- items -->
            </div>
        </div>
    </div>
    <!-- a--active-traits a revoir car actuellement en column -->
</div>