tr{
    display: flex;
}

#board{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
}

#board tr:nth-child(even)
{
    margin-left: 42px;
}

/* app-champion-hexagone .trait-over-image
{
    display: none !important;
} */


.case{
  }