.champion{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 3px;    
    overflow: hidden;
    text-overflow: ellipsis;
}


.champion__img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: 100% 0;
  }

.champion__name{
    white-space: break-spaces;
    position: relative;
    top: -23px;
    background-color: #00000073;
    font-size: smaller;  
}

.champion__border{
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
  }