.champion{
    width: 60px;
    height: 60px;
    display: inline-block;
    margin: 3px;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.sc-champion-list__sort{
    display: flex;
    justify-content: space-around;
}