<div class="row accueil-menu-bar">
    <div class="col accueil-menu-bar__col-placeholder">
        <div class="accueil-menu-bar__link" >
            <a class="accueil-menu-bar__link-placeholder" routerLink="/traitManager">
                <img class="accueil-menu-bar__img" src="/assets/images/trait-manager-menu.png">
            </a>
        </div>
    </div>
    <div class="col accueil-menu-bar__col-placeholder">
        <div class="accueil-menu-bar__link" >
            <a class="accueil-menu-bar__link-placeholder" routerLink="/itemManager">
                <img class="accueil-menu-bar__img" src="/assets/images/item-manager-menu.png">
            </a>
        </div>
    </div>
    <div class="col accueil-menu-bar__col-placeholder">
        <div class="accueil-menu-bar__link" >
            <a class="accueil-menu-bar__link-placeholder" routerLink="/championManager">
                <img class="accueil-menu-bar__img" src="/assets/images/champion-manager-menu.png">
            </a>
        </div>
    </div>
    <div class="col accueil-menu-bar__col-placeholder">
        <div class="accueil-menu-bar__link" >
            <a class="accueil-menu-bar__link-placeholder" routerLink="/deckManager">
                <img class="accueil-menu-bar__img" src="/assets/images/deck-manager-menu.png">
            </a>
        </div>
    </div>
    <div class="col accueil-menu-bar__col-placeholder">
        <div class="accueil-menu-bar__link" >
            <a class="accueil-menu-bar__link-placeholder" routerLink="/pivotManager">
                <img class="accueil-menu-bar__img" src="/assets/images/pivot-manager-menu.png">
            </a>
        </div>
    </div>
</div>