<ng-container *ngIf="activesTraits != undefined">
    <div *ngFor="let trait of activesTraits" class="col flex-column d-flex sc-active-trait__icon">

        <ng-template #traitDescTooltip>
            <span>{{trait.name}}</span>
            <br />
            <span [innerHTML]="trait.desc"></span>
        </ng-template>

        <span id="background-img" [tooltip]="$any(traitDescTooltip)" placement="right" contentType="template"
            class="sc-active-trait__img-bg"
            [ngClass]="{'unactive-img' : trait.state == e_State.Unactive, 'bronze-img' : trait.state == e_State.Bronze, 
        'silver-img' : trait.state == e_State.Silver, 'gold-img' : trait.state == e_State.Gold, 'prisma-img' : trait.state == e_State.Prisma}">
            <img src="https://raw.communitydragon.org/latest/game/{{trait.icon.toLowerCase()}}"
                style="--trait-url : url('https://raw.communitydragon.org/latest/game/{{trait.icon.toLowerCase()}}');" />
        </span>
        <span>{{trait.currentNumber}}</span>
        <span>{{trait.currentPallier}}/{{trait.nextPallier}}</span>
    </div>
</ng-container>