<div class="container-fluid">
    <div class="row">
        <div class="col-1 flex-column">
            <div class="row ">
                <div class="flex-item deleteField" cdkDropList id="removeBin" (cdkDropListDropped)="dropItem($event)"
                    (click)="ClearAll()">
                    <span class="fas fa-trash-alt" style="font-size: 5vw;"></span>
                    <fa-icon [icon]="['fas', 'trash-can']" [style]="{'font-size':'5vw'}"></fa-icon>
                </div>
            </div>
            <div>
                <button (click)="showMyContainer=!showMyContainer">Show/Hide Craftable Items</button>
                <div id="craftableItems" *ngIf="showMyContainer">
                    <span>Items réalisable</span>
                    <div class="items-side" cdkDropList id="myItemList" [cdkDropListData]="craftableItems"
                        [cdkDropListConnectedTo]="LIST_IDS">
                        <div *ngFor="let item of craftableItems">
                            <ng-template #itemTooltip>
                                <span style="color:orange">{{item.name}}</span>
                                <div [innerHTML]="item.desc"></div>
                                <img *ngFor="let itemr of item.recipe"
                                    src="https://raw.communitydragon.org/latest/game/{{itemr.icon}}"
                                    class="selectElem" />
                            </ng-template>

                            <span [tooltip]="$any(itemTooltip)" contentType="template" [showDelay]="300"
                                tooltipClass="tooltip--item">
                                <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}" cdkDrag />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div id="myitems">
                    <span class="my-items-ico">My Items</span>
                    <div class="my-items__grid" cdkDropList id="myItemList" [cdkDropListData]="myItems"
                        [cdkDropListConnectedTo]="LIST_IDS">
                        <div *ngFor="let item of myItems">
                            <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}" cdkDrag
                                class="my-items__grid__item" />
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="draft-ico" (click)="checkItemCaroussel()">Carousel</div>
                <div class="my-items__grid">
                    <div *ngFor="let item of itemsCarousel" class="flex-column">
                        <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}"
                            (click)="getItemCaroussel(item)" class="my-items__grid__item" />
                    </div>
                </div>
            </div>
            <div>
                <button (click)="getChampForItems()">Champion for item</button>
            </div>
            <div id="allTraits" class="all-traits__grid">
                <div *ngFor="let trait of allTraits">
                    <img src="https://raw.communitydragon.org/latest/game/{{trait.icon.toLowerCase()}}"
                        (click)="selectTrait(trait)" />
                </div>
            </div>
        </div>

        <div class="col-7">
            <div id="mybench" class="mybench">
                <div class="row">
                    <span>My Bench</span>
                </div>
                <div class="row">
                    <div class="myChampionList col" cdkDropList id="mychampionslist" [cdkDropListData]="myChampions"
                        [cdkDropListConnectedTo]="['removeBin']">
                        <div *ngFor="let champion of myChampions"
                            class="row sc-item-manager__champion-line bg-cost-{{champion.cost}}" id="championLine"
                            cdkDrag>
                            <app-champion-tile [champion]="champion" class="col-2" style="position : relative"
                                (click)="DeleteChampion(champion)" (contextmenu)="onRightClick(champion)">
                            </app-champion-tile>

                            <app-champion-items-list [champion]="champion" class="col"></app-champion-items-list>

                            <div class="col-2 d-flex" id="equippedItemDiv">
                                <div class="d-flex sc-item-manager__drop-zone" cdkDropList
                                    id="cdk-drop-list-champion-{{champion.id}}"
                                    [cdkDropListData]="champion.equippedItems" [cdkDropListConnectedTo]="['myItemList']"
                                    (cdkDropListDropped)="equipItem($event,champion)">
                                    <div *ngFor="let item of champion.equippedItems"
                                        class="col sc-item-manager__drop-zone__equipped-item">
                                        <ng-template #itemTooltip>
                                            <span style="color:orange">{{item.name}}</span>
                                            <div [innerHTML]="item.desc"></div>
                                        </ng-template>

                                        <span [tooltip]="$any(itemTooltip)" contentType="template" [showDelay]="300"
                                            tooltipClass="tooltip--item">
                                            <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}"
                                                [ngClass]="item.isWrong ? 'sc-item-manager__drop-zone__equipped-item__img--wrong' : 'sc-item-manager__drop-zone__equipped-item__img'">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-form-field class="" appearance="fill">
                        <input type="text"
                               placeholder="Pick one"
                               matInput
                               [formControl]="filterControl"
                               [matAutocomplete]="auto"
                               >
                        <mat-autocomplete #auto="matAutocomplete" 
                        [displayWith]="displayProperty"
                        (optionSelected)="selectChampion($event.option.value)">
                            <mat-option *ngFor="let champ of filteredChampions | async" [value]="champ">
                                {{ champ.name }}
                          </mat-option>
                        </mat-autocomplete>
                        <button type="button" matSuffix mat-icon-button aria-label="Clear"
                            (click)="resetfilter()">
                            <mat-icon>close</mat-icon>
                        </button>
                      </mat-form-field>

                </div>
            </div>
        </div>

        <div class="col">
            Champions
            <app-champion-list (childEvent)="selectChampion($event)"></app-champion-list>

            Items
            <div class="items-grid">
                <div *ngFor="let item of items" class="items-grid__item"
                    style="--item-grid-x : {{ ('00' + item.id ).slice(-2)[1] }}; --item-grid-y : {{('00' + item.id ).slice(-2)[0] }};"
                    (click)="selectItem(item)">
                    <ng-template #itemTooltip>
                        <span style="color:orange">{{item.name}}</span>
                        <div [innerHTML]="item.desc"></div>
                    </ng-template>

                    <span [tooltip]="$any(itemTooltip)" contentType="template" [showDelay]="300"
                        tooltipClass="tooltip--item">
                        <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}"
                            class="items-grid__item__img" />
                    </span>
                </div>

                <div *ngFor="let item of itemsComble" class="items-grid__item"
                    style="--item-grid-x : {{ ('00' + item.id ).slice(-2)[0] }}; --item-grid-y : {{('00' + item.id ).slice(-2)[1] }};"
                    (click)="selectItem(item)">
                    <span>
                        <img src="https://raw.communitydragon.org/latest/game/{{item.icon}}"
                            class="items-grid__item__img" />
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>