.items-grid{
    display: grid; 
    width: fit-content;
}

.items-grid__item{
    grid-row-start: var(--item-grid-x);
    grid-column-start: var(--item-grid-y);
    
    grid-row-end: calc(var(--item-grid-x) + 1);
    grid-column-end: calc(var(--item-grid-y) + 1);  
    width: 45px; 
    height: 45px; 
    display: inline-block;
    margin: 3px;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.selectElem{ //TODO : renommer
    width: 60px;
    height: 60px;
}

.items-grid__item__img{
    width: 45px; 
    height: 45px; 
}

.my-items__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.my-items__grid__item{
    width :100%;
}

.all-traits__grid{
    display: grid;
    grid-template-columns: auto auto auto;
}

.sc-item-manager__champion-line{
    padding: 5px;
    margin-top: 9px;

    img{
        border-radius: 5px;
    }
}

.sc-item-manager__drop-zone{
    border: 1px solid #66FFA2;
    width: 100%;
    height: 75%;
    align-items: center;
}

.sc-item-manager__drop-zone__equipped-item{    
    max-width: calc(100% / 3 * 1);
    > * {        
        &:first-child(1) {
            margin-right: 5px;
        }
        
        &:last-child(2) {
            margin-left: 5px;
        }
    }
}

.sc-item-manager__drop-zone__equipped-item__img
{
    max-width: 100%;
    box-shadow: 0 0 3px 4px #62ff00;
    filter: drop-shadow(0 0 0 black);
}

.sc-item-manager__drop-zone__equipped-item__img--wrong
{
    max-width: 100%;
    box-shadow: 0 0 3px 4px red;
    filter: drop-shadow(0 0 0 black);
}

  .sc-item-manager__search-bar{    
  background-color: #ffffff52;
  border-radius: 5px;
  color: white;
  }