<div class="container-fluid">
    <div class="row">
        <div *ngFor="let trait of allTraits" class="col flex-column d-flex"
            [ngClass]="{'trait-selected' : trait == traitSelected}"
            style="--trait-url : url('{{TRAIT_IMG_URL}}/{{trait.icon}}' )">
            <img src="{{TRAIT_IMG_URL}}/{{trait.icon}}"
                (click)="SelectTrait(trait)"
                [ngStyle]="{'box-shadow': trait.isSpat?'2px -2px 0px red, -2px 2px 0px red':''}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div id="traitsDetails" calss="col">
                    <span> {{traitSelected.name}}</span>
                </div>
                <div class="row">
                    <span class="col" [innerHTML]="traitSelected.desc"> </span>

                    <div class="d-flex" style="height :50px;">
                        <div *ngFor="let itemO of itemOrder">
                            <img src="{{ITEM_IMG_URL}}/{{itemO.icon}}" />
                        </div>
                    </div>

                    <div class="col-1 flex-column" *ngIf="SpatItem">
                        <div *ngFor="let itemr of SpatItem.recipe">
                            <img src="{{ITEM_IMG_URL}}/{{itemr.icon}}" />
                        </div>
                    </div>
                </div>

                <div calss="col">
                    <div class="myChampionList col" id="mychampionslist">

                        <div *ngFor="let champion of traitChampions" class="row sc-trait-manager__champion-line bg-cost-{{champion.cost}}"
                            id="championFull">
                            <app-champion-tile [champion]="champion" class="col-2"></app-champion-tile>

                            <app-champion-items-list [champion]="champion" class="col"></app-champion-items-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row row-other-traits" *ngIf="championDuplicate.length > 0">
                <div class="col-1">
                    X2
                </div>
                <div class="col grid-7">
<app-champion-tile *ngFor="let champion of championDuplicate" [champion]="champion"></app-champion-tile>
                </div>
            </div>

            <div *ngFor="let trait of otherTraits" class="row row-other-traits">
                <div class="col-1">
                    <img src="{{TRAIT_IMG_URL}}/{{trait.icon}}"
                        (click)="SelectTrait(trait)" style="height: 50px;" />
                    <span>{{trait.palliers.join("/")}}</span>
                </div>
                <div class="col grid-7">
                    <app-champion-tile *ngFor="let championSyn of trait.champions" [champion]="championSyn"></app-champion-tile>
                </div>
            </div>
        </div>
    </div>
</div>