html, body {
  height: 100%;
}

body {
  max-height: 100vh;
  margin: 0;
  background-color: rgb(0 0 0 / 63%);
  background-image: url(https://images.squarespace-cdn.com/content/v1/58af450eb3db2b0582612f1d/1595246989815-HRFRZPQVJ9JJ3KY8YCCT/TFT.S3_GALAXIES.ARTICLE-2.jpg?format=1500w);
  background-attachment: fixed;
  background-blend-mode: darken;

  background-size: cover;
  color: white;
  overflow-x: hidden;
  font-family: "Open Sans" !important;
}