$size-small: 0.25rem;
$size-lower: 0.5rem;
$size-default: 1rem;
$size-medium: 1.5rem;
$size-medium-large: 2rem;
$size-large: 3rem;

$size-entete: 4.5rem;
$size-footer-mobile: 6.5rem;

$size-barre-navigation-mobile: 4rem;
$size-icon-small: 1.25rem;
$size-icon-large: 3.75rem;

$size-shadow-large: 1.25rem;
$size-footer-desktop: 22.5rem;
$width-logo: 10rem;
$width-logo-footer--mobile: 6rem;
$size-custom-accueil-h1: 4rem;
