$txt-bold-default: 700;
$txt-bold-lower: 600;
$txt-regular-default: 400;
$txt-light-default: 300;

$font-default: 'Lato-Regular', sans-serif;
$font-project: 'Helvetica Neue', sans-serif;

$txt-size-small: 9pt; // 12px
$txt-size-lower: 10.5pt; // 14px
$txt-size-default: 12pt; // 16px
$txt-size-medium-lower: 15pt; // 20px
$txt-size-medium: 18pt; // 24px
$txt-size-large: 27pt; // 36px
$txt-size-extra-large: 31.5pt; // 42px
$txt-size-extra-extra-large: 42pt; // 56px

$txt-size-logo: 20pt;
$icon-size-large: 36pt;
$txt-titre-font: 'Lato-Light', sans-serif;
