@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --cost1 : rgba(173, 173, 173,1);
    --cost2 : rgba(12, 181, 18,1);
    --cost3 : rgba(7,143,255,1);
    --cost4 : rgba(222,8,165,1);
    --cost8 : rgba(222,8,165,1);
    --cost5 : rgba(214,148,24,1);
    --cost10 : rgba(214,148,24,1);
  }

$cost1 : rgba(173, 173, 173,1);
$cost2 : rgba(12, 181, 18,1);
$cost3 : rgba(7,143,255,1);
$cost4 : rgba(222,8,165,1);
$cost8 : rgba(222,8,165,1);
$cost5 : rgba(214,148,24,1);
$cost10 : rgba(214,148,24,1);

$cost1grada : linear-gradient(90deg, rgba(24,48,66,0.7) 0%,  rgba(78, 97, 110,0.7) 100%);
$cost2grada : linear-gradient(90deg, rgba(24,73,57,0.7) 0%, rgba(19,115,57,0.7) 100%);
$cost3grada : linear-gradient(90deg, rgba(38,41,96,0.7) 0%, rgba(38,107,164,0.7) 100%);
$cost4grada : linear-gradient(90deg, rgba(98,18,99,0.7) 0%, rgba(222,8,165,0.7) 100%);
$cost5grada : linear-gradient(90deg, rgba(115,63,8,0.7) 0%, rgba(214,148,24,0.7) 64%, rgba(218,117,4,0.7) 100%);

$cost1grad : linear-gradient(90deg, rgba(24,48,66,1) 0%,  rgb(78, 97, 110) 100%);
$cost2grad : linear-gradient(90deg, rgba(24,73,57,1) 0%, rgba(19,115,57,1) 100%);
$cost3grad : linear-gradient(90deg, rgba(38,41,96,1) 0%, rgba(38,107,164,1) 100%);
$cost4grad : linear-gradient(90deg, rgba(98,18,99,1) 0%, rgba(222,8,165,1) 100%);
$cost5grad : linear-gradient(90deg, rgba(115,63,8,1) 0%, rgba(214,148,24,1) 64%, rgba(218,117,4,1) 100%);

$gold : linear-gradient(349deg, rgb(255 201 3) 0%,rgb(255 127 0) 100%);
$gold-img : url(https://cdn.lolchess.gg/images/tft/traits/background/gold.svg);

$silver : linear-gradient(349deg, rgb(149 149 149) 39%,rgb(255 255 255) 100%);
$silver-img : url(https://cdn.lolchess.gg/images/tft/traits/background/silver.svg);

$bronze : linear-gradient(349deg, rgb(138, 89, 49) 0%,rgb(58, 35, 13) 100%);
$bronze-img : url("https://cdn.lolchess.gg/images/tft/traits/background/bronze.svg");

$prismatic : conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 0, 1) 5%, rgba(255, 0, 0, 1) 12%, rgba(44, 255, 0, 1) 19%, rgba(149, 0, 255, 1) 26%, rgba(0, 230, 255, 1) 33%, rgba(0, 0, 0, 1) 37%, rgba(0, 255, 20, 1) 42%, rgba(0, 0, 0, 1) 47%, rgba(255, 255, 0, 1) 50%, rgba(0, 0, 0, 1) 53%, rgba(0, 203, 255, 1) 56%, rgba(242, 0, 255, 1) 60%, rgba(0, 0, 0, 1) 70%, rgba(39, 255, 0, 1) 75%, rgba(78, 0, 255, 1) 90%, rgba(255, 0, 253, 1) 94%, rgba(0, 249, 255, 1) 98%, rgba(0, 0, 0, 1) 100%);
$prismatic-img : url(https://cdn.lolchess.gg/images/tft/traits/background/chromatic.svg);

$unactive-img : url("https://cdn.lolchess.gg/images/tft/traits/background/darken.svg");

.bg-cost-1{
    background: $cost1grada;
}
.bg-cost-2{
    background: $cost2grada;
}
.bg-cost-3{
    background: $cost3grada;
}
.bg-cost-4{
    background: $cost4grada;
}
.bg-cost-5{
    background: $cost5grada;
}
.bg-cost-8{
    background: $cost4grada;
}
.bg-cost-10{
    background: $cost5grada;
}


.brd-cost-1 {
    border-color: $cost1;
}

.brd-cost-2 {
    border-color: $cost2;
}

.brd-cost-3 {
    border-color: $cost3;
}
.brd-cost-4 {
    border-color: $cost4;
}
.brd-cost-5 {
    border-color: $cost5;
}
.brd-cost-8 {
    border-color: $cost4;
}
.brd-cost-10 {
    border-color: $cost5;
}


.color-cost-1{
    color: $cost1;
}

.color-cost-2{
    color: $cost2;
}

.color-cost-3{
    color: $cost3;
}

.color-cost-4{
    color: $cost4;
}

.color-cost-5{
    color: $cost5;
}

.color-cost-8{
    color: $cost4;
}

.color-cost-10{
    color: $cost5;
}

.unactive-img{
    background-image: $unactive-img;
  }

  .bronze-img{
    background-image: $bronze-img;
  }
  
  .silver-img{
    background-image: $silver-img;
  }
  .gold-img{
    background-image: $gold-img;
  }
  .prisma-img{
    background-image: $prismatic-img;
  }