.sc-champion-tooltip__items{
    img{
        width: 50px;
    }
}

.sc-champion-tooltip__desc{
    margin-top: 5px;
    color : #40a7ff;
}

.sc-champion-tooltip__easy-desc{
    color : gold;
    margin-top: 5px;
}