$shadow-default: 0 0 $size-lower 0 $color-empty;

$box-shadow-default: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
  0 1px 10px 0 rgba(0, 0, 0, 0.12);

$box-shadow-expansion-panel-header: 0 0 $size-lower rgba(0, 0, 0, 0.4);
